# Data Drift Workflow

In [1]:
import nannyml as nml
import pandas as pd
import numpy as np

In [2]:
reference, analysis, analysis_gt = nml.load_synthetic_sample()

In [ ]:
features_for_drift = list(reference.columns)[:7] + ['y_pred_proba']
features_for_drift

In [3]:
md = nml.extract_metadata(data = reference, model_name='wfh_predictor')

/var/home/nikml/.cache/pypoetry/virtualenvs/nannyml-Os0Ylq-N-py3.10/lib/python3.10/site-packages/nannyml/metadata.py:427: UserWarning: NannyML extracted 4 categorical features.
Please review these to determine if they should be marked as ordinal instead.

  warnings.warn(

In [4]:
print(md)

Metadata for model wfh_predictor

# Warning - unable to identify all essential data
# Please identify column names for all '~ UNKNOWN ~' values

Model problem             binary_classification

Identifier column         identifier
Timestamp column          timestamp
Partition column          partition
Prediction column         ~ UNKNOWN ~
Ground truth column       ~ UNKNOWN ~

Features

Name                 Column               Type            Description
distance_from_office distance_from_office continuous      extracted feature: distance_from_office
salary_range         salary_range         categorical     extracted feature: salary_range
gas_price_per_litre  gas_price_per_litre  continuous      extracted feature: gas_price_per_litre
public_transportation_cost public_transportation_cost continuous      extracted feature: public_transportation_cost
wfh_prev_workday     wfh_prev_workday     categorical     extracted feature: wfh_prev_workday
workday              workday              categorical     extracted feature: workday
tenure               tenure               continuous      extracted feature: tenure
work_home_actual     work_home_actual     categorical     extracted feature: work_home_actual
y_pred_proba         y_pred_proba         continuous      extracted feature: y_pred_proba

In [5]:
md.prediction_column_name = 'y_pred_proba'
md.ground_truth_column_name = 'work_home_actual'

In [6]:
print(md)

Metadata for model wfh_predictor

# Warning - unable to identify all essential data
# Please identify column names for all '~ UNKNOWN ~' values

Model problem             binary_classification

Identifier column         identifier
Timestamp column          timestamp
Partition column          partition
Prediction column         y_pred_proba
Ground truth column       work_home_actual

Features

Name                 Column               Type            Description
distance_from_office distance_from_office continuous      extracted feature: distance_from_office
salary_range         salary_range         categorical     extracted feature: salary_range
gas_price_per_litre  gas_price_per_litre  continuous      extracted feature: gas_price_per_litre
public_transportation_cost public_transportation_cost continuous      extracted feature: public_transportation_cost
wfh_prev_workday     wfh_prev_workday     categorical     extracted feature: wfh_prev_workday
workday              workday              categorical     extracted feature: workday
tenure               tenure               continuous      extracted feature: tenure

In [7]:
univariate_calculator = nml.StatisticalDriftCalculator(model_metadata=md)

In [8]:
univariate_calculator.fit(reference_data=reference)

In [9]:
fdata = pd.concat([reference, analysis])
fdata

,distance_from_office,salary_range,gas_price_per_litre,public_transportation_cost,wfh_prev_workday,workday,tenure,identifier,work_home_actual,timestamp,y_pred_proba,partition
0,5.962247,40K - 60K €,2.119485,8.568058,False,Friday,0.212653,0,1.0,2014-05-09 22:27:20,0.99,reference
1,0.535872,40K - 60K €,2.357199,5.425382,True,Tuesday,4.927549,1,0.0,2014-05-09 22:59:32,0.07,reference
2,1.969519,40K - 60K €,2.366849,8.247158,False,Monday,0.520817,2,1.0,2014-05-09 23:48:25,1.00,reference
3,2.530410,20K - 20K €,2.318722,7.944251,False,Tuesday,0.453649,3,1.0,2014-05-10 01:12:09,0.98,reference
4,2.253635,60K+ €,2.221265,8.884478,True,Thursday,5.695263,4,1.0,2014-05-10 02:21:34,0.99,reference
...,...,...,...,...,...,...,...,...,...,...,...,...
49995,6.043911,0 - 20K €,1.983026,5.891216,True,Thursday,6.411578,99995,NaN,2021-01-01 02:42:38,0.17,analysis
49996,5.676665,20K - 20K €,2.048549,7.584098,True,Wednesday,3.863509,99996,NaN,2021-01-01 04:04:01,0.55,analysis
49997,3.143112,0 - 20K €,2.208197,6.574665,True,Tuesday,6.462975,99997,NaN,2021-01-01 04:12:57,0.22,analysis
49998,8.335141,40K - 60K €,2.394480,5.257455,True,Monday,6.407057,99998,NaN,2021-01-01 04:17:41,0.02,analysis
49999,8.266046,0 - 20K €,1.415974,8.108976,False,Friday,6.904111,99999,NaN,2021-01-01 04:29:32,0.02,analysis

In [11]:
univariate_results = univariate_calculator.calculate(data=fdata, chunk_size=5000)

In [12]:
list(univariate_results.columns)

['key',
 'start_index',
 'end_index',
 'start_date',
 'end_date',
 'partition',
 'wfh_prev_workday_chi2',
 'wfh_prev_workday_p_value',
 'wfh_prev_workday_alert',
 'salary_range_chi2',
 'salary_range_p_value',
 'salary_range_alert',
 'workday_chi2',
 'workday_p_value',
 'workday_alert',
 'gas_price_per_litre_dstat',
 'gas_price_per_litre_p_value',
 'gas_price_per_litre_alert',
 'distance_from_office_dstat',
 'distance_from_office_p_value',
 'distance_from_office_alert',
 'public_transportation_cost_dstat',
 'public_transportation_cost_p_value',
 'public_transportation_cost_alert',
 'tenure_dstat',
 'tenure_p_value',
 'tenure_alert']

In [13]:
univariate_results

,key,start_index,end_index,start_date,end_date,partition,wfh_prev_workday_chi2,wfh_prev_workday_p_value,wfh_prev_workday_alert,salary_range_chi2,...,gas_price_per_litre_alert,distance_from_office_dstat,distance_from_office_p_value,distance_from_office_alert,public_transportation_cost_dstat,public_transportation_cost_p_value,public_transportation_cost_alert,tenure_dstat,tenure_p_value,tenure_alert
0,[0:4999],0,4999,2014-05-09,2014-09-09 23:59:59,reference,0.414606,0.520,False,2.898781,...,False,0.01034,0.712,False,0.00998,0.752,False,0.00978,0.774,False
1,[5000:9999],5000,9999,2014-09-09,2015-01-09 23:59:59,reference,0.033486,0.855,False,3.144391,...,False,0.00750,0.959,False,0.01046,0.698,False,0.01192,0.534,False
2,[10000:14999],10000,14999,2015-01-09,2015-05-09 23:59:59,reference,0.168656,0.681,False,2.451881,...,False,0.00820,0.917,False,0.01706,0.140,False,0.01268,0.454,False
3,[15000:19999],15000,19999,2015-05-09,2015-09-07 23:59:59,reference,0.056270,0.812,False,4.062620,...,False,0.00860,0.887,False,0.01220,0.504,False,0.01074,0.667,False
4,[20000:24999],20000,24999,2015-09-07,2016-01-08 23:59:59,reference,0.242059,0.623,False,2.413988,...,False,0.00910,0.842,False,0.00662,0.988,False,0.00924,0.829,False
5,[25000:29999],25000,29999,2016-01-08,2016-05-09 23:59:59,reference,3.614573,0.057,False,3.796063,...,False,0.01458,0.286,False,0.01186,0.541,False,0.00794,0.935,False
6,[30000:34999],30000,34999,2016-05-09,2016-09-04 23:59:59,reference,0.075705,0.783,False,3.228836,...,False,0.01290,0.432,False,0.00636,0.992,False,0.01120,0.615,False
7,[35000:39999],35000,39999,2016-09-04,2017-01-03 23:59:59,reference,0.414606,0.520,False,1.393300,...,False,0.01380,0.349,False,0.00832,0.909,False,0.00740,0.963,False
8,[40000:44999],40000,44999,2017-01-03,2017-05-03 23:59:59,reference,0.012656,0.910,False,0.304785,...,False,0.01586,0.201,False,0.01176,0.552,False,0.01464,0.281,False
9,[45000:49999],45000,49999,2017-05-03,2017-08-31 23:59:59,reference,2.203832,0.138,False,2.987581,...,False,0.00924,0.829,False,0.00820,0.917,False,0.01306,0.417,False
10,[50000:54999],50000,54999,2017-08-31,2018-01-02 23:59:59,analysis,1.703195,0.192,False,1.033683,...,False,0.01310,0.413,False,0.00956,0.797,False,0.02124,0.033,True
11,[55000:59999],55000,59999,2018-01-02,2018-05-01 23:59:59,analysis,0.242059,0.623,False,5.762412,...,False,0.01124,0.610,False,0.01488,0.264,False,0.01006,0.743,False
12,[60000:64999],60000,64999,2018-05-01,2018-09-01 23:59:59,analysis,3.178618,0.075,False,2.653961,...,False,0.01682,0.151,False,0.01290,0.432,False,0.02370,0.012,True
13,[65000:69999],65000,69999,2018-09-01,2018-12-31 23:59:59,analysis,0.024299,0.876,False,0.070843,...,False,0.01436,0.303,False,0.01598,0.194,False,0.01446,0.295,False
14,[70000:74999],70000,74999,2018-12-31,2019-04-30 23:59:59,analysis,0.487381,0.485,False,1.005422,...,False,0.01116,0.619,False,0.01136,0.596,False,0.00912,0.841,False
15,[75000:79999],75000,79999,2019-04-30,2019-09-01 23:59:59,analysis,1179.903143,0.000,True,455.622094,...,False,0.43548,0.000,True,0.18346,0.000,True,0.00702,0.977,False
16,[80000:84999],80000,84999,2019-09-01,2019-12-31 23:59:59,analysis,1162.989441,0.000,True,428.633384,...,False,0.43032,0.000,True,0.18334,0.000,True,0.00826,0.913,False
17,[85000:89999],85000,89999,2019-12-31,2020-04-30 23:59:59,analysis,1170.491329,0.000,True,453.247444,...,False,0.43786,0.000,True,0.20062,0.000,True,0.01398,0.334,False
18,[90000:94999],90000,94999,2020-04-30,2020-09-01 23:59:59,analysis,1023.347641,0.000,True,438.259970,...,False,0.43608,0.000,True,0.18740,0.000,True,0.00896,0.856,False
19,[95000:99999],95000,99999,2020-09-01,2021-01-01 23:59:59,analysis,1227.536732,0.000,True,474.891775,...,False,0.43852,0.000,True,0.20018,0.000,True,0.00632,0.993,False

In [14]:
ranking = nml.AlertCountRanking()

In [15]:
ranked_features_drifted = ranking.rank(univariate_results)

In [16]:
ranked_features_drifted

                      feature  number_of_alerts  rank
0            wfh_prev_workday                 5     1
1                salary_range                 5     2
2        distance_from_office                 5     3
3  public_transportation_cost                 5     4
4                      tenure                 2     5
5                     workday                 0     6
6         gas_price_per_litre                 0     7

In [17]:
nml.calculate_statistical_drift(reference_data=reference, analysis_data=analysis, model_metadata=md)

,key,start_index,end_index,start_date,end_date,partition,wfh_prev_workday_chi2,wfh_prev_workday_p_value,wfh_prev_workday_alert,salary_range_chi2,...,gas_price_per_litre_alert,distance_from_office_dstat,distance_from_office_p_value,distance_from_office_alert,public_transportation_cost_dstat,public_transportation_cost_p_value,public_transportation_cost_alert,tenure_dstat,tenure_p_value,tenure_alert
0,[0:899],0,899,2017-08-31,2017-09-21 23:59:59,analysis,2.402192,0.121,False,0.795467,...,False,0.037169,0.169,False,0.043640,0.067,False,0.036593,0.183,False
1,[900:1799],900,1799,2017-09-21,2017-10-14 23:59:59,analysis,0.257860,0.612,False,9.549308,...,False,0.028222,0.473,False,0.027827,0.492,False,0.029616,0.412,False
2,[1800:2699],1800,2699,2017-10-14,2017-11-07 23:59:59,analysis,0.306612,0.580,False,5.852044,...,False,0.045993,0.046,True,0.024642,0.647,False,0.038676,0.138,False
3,[2700:3599],2700,3599,2017-11-07,2017-11-29 23:59:59,analysis,1.483172,0.223,False,5.324653,...,False,0.031778,0.327,False,0.031191,0.349,False,0.029933,0.399,False
4,[3600:4499],3600,4499,2017-11-29,2017-12-21 23:59:59,analysis,0.471359,0.492,False,4.420238,...,False,0.025504,0.604,False,0.042851,0.076,False,0.041900,0.087,False
5,[4500:5399],4500,5399,2017-12-21,2018-01-12 23:59:59,analysis,3.296138,0.069,False,2.889654,...,False,0.021640,0.794,False,0.037644,0.159,False,0.025218,0.618,False
6,[5400:6299],5400,6299,2018-01-12,2018-02-01 23:59:59,analysis,0.306612,0.580,False,1.764991,...,False,0.021100,0.818,False,0.024858,0.636,False,0.022487,0.754,False
7,[6300:7199],6300,7199,2018-02-01,2018-02-23 23:59:59,analysis,0.007886,0.929,False,3.349158,...,False,0.017267,0.951,False,0.031507,0.337,False,0.041822,0.088,False
8,[7200:8099],7200,8099,2018-02-23,2018-03-18 23:59:59,analysis,0.058615,0.809,False,3.416404,...,False,0.041027,0.099,False,0.039909,0.116,False,0.056020,0.007,True
9,[8100:8999],8100,8999,2018-03-18,2018-04-08 23:59:59,analysis,0.024094,0.877,False,1.284651,...,False,0.020960,0.824,False,0.024927,0.633,False,0.031309,0.344,False
10,[9000:9899],9000,9899,2018-04-08,2018-04-29 23:59:59,analysis,3.620776,0.057,False,6.406832,...,False,0.018698,0.911,False,0.036382,0.188,False,0.031280,0.346,False
11,[9900:10799],9900,10799,2018-04-29,2018-05-21 23:59:59,analysis,0.140589,0.708,False,2.312292,...,False,0.034538,0.237,False,0.023062,0.726,False,0.031964,0.320,False
12,[10800:11699],10800,11699,2018-05-21,2018-06-13 23:59:59,analysis,2.067257,0.150,False,0.217873,...,False,0.035164,0.219,False,0.044598,0.058,False,0.023880,0.685,False
13,[11700:12599],11700,12599,2018-06-13,2018-07-04 23:59:59,analysis,1.824324,0.177,False,4.273094,...,False,0.051178,0.019,True,0.042067,0.085,False,0.048184,0.032,True
14,[12600:13499],12600,13499,2018-07-04,2018-07-26 23:59:59,analysis,0.410432,0.522,False,1.600369,...,False,0.037991,0.152,False,0.024747,0.642,False,0.035909,0.200,False
15,[13500:14399],13500,14399,2018-07-26,2018-08-17 23:59:59,analysis,0.705481,0.401,False,4.679894,...,False,0.026142,0.572,False,0.014758,0.989,False,0.018958,0.902,False
16,[14400:15299],14400,15299,2018-08-17,2018-09-08 23:59:59,analysis,2.262702,0.133,False,2.191517,...,False,0.014484,0.991,False,0.022089,0.773,False,0.025796,0.589,False
17,[15300:16199],15300,16199,2018-09-08,2018-10-01 23:59:59,analysis,0.821482,0.365,False,4.291896,...,False,0.035118,0.220,False,0.032922,0.287,False,0.035118,0.220,False
18,[16200:17099],16200,17099,2018-10-01,2018-10-23 23:59:59,analysis,0.306612,0.580,False,6.262884,...,False,0.025429,0.608,False,0.018642,0.913,False,0.033840,0.258,False
19,[17100:17999],17100,17999,2018-10-23,2018-11-12 23:59:59,analysis,0.237471,0.626,False,0.609477,...,False,0.031924,0.322,False,0.029362,0.423,False,0.028984,0.439,False
20,[18000:18899],18000,18899,2018-11-12,2018-12-04 23:59:59,analysis,3.878024,0.049,True,2.024951,...,False,0.031580,0.334,False,0.022396,0.758,False,0.035029,0.223,False
21,[18900:19799],18900,19799,2018-12-04,2018-12-27 23:59:59,analysis,0.177151,0.674,False,2.204680,...,False,0.029122,0.433,False,0.032280,0.309,False,0.029109,0.434,False
22,[19800:20699],19800,20699,2018-12-27,2019-01-17 23:59:59,analysis,0.024094,0.877,False,2.319818,...,False,0.029556,0.415,False,0.019929,0.867,False,0.018196,0.926,False
23,[20700:21599],20700,21599,2019-01-17,2019-02-08 23:59:59,analysis,0.499956,0.480,False,1.985556,...,False,0.035340,0.214,False,0.020373,0.849,False,0.010976,1.000,False
24,[21600:22499],21600,22499,2019-02-08,2019-03-03 23:59:59,analysis,0.257860,0.612,False,0.383064,...,False,0.027853,0.490,False,0.016816,0.960,False,0.028136,0.477,False
25,[22500:23399],22500,23399,2019-03-03,2019-03-24 23:59:59,analysis,0.030865,0.861,False,2.642658,...,False,0.041324,0.095,False,0.020100,0.860,False,0.035271,0.216,False
26,[23400:24299],23400,24299,2019-03-24,2019-04-14 23:59:59,analysis,1.649338,0.199,False,0.784161,...,False,0.023722,0.693,False,0.028540,0.459,False,0.030387,0.380,False
27,[24300:25199],24300,25199,2019-04-14,2019-05-04 23:59:59,analysis,29.427512,0.000,True,20.338530,...,True,0.101687,0.000,True,0.035224,0.218,False,0.020204,0.856,False
28,[25200:26099],25200,26099,2019-05-04,2019-05-26 23:59:59,analysis,205.528318,0.000,True,87.320918,...,False,0.425829,0.000,True,0.183182,0.000,True,0.025416,0.608,False
29,[26100:26999],26100,26999,2019-05-26,2019-06-18 23:59:59,analysis,241.309674,0.000,True,74.664883,...,False,0.443707,0.000,True,0.201587,0.000,True,0.043044,0.073,False
30,[27000:27899],27000,27899,2019-06-18,2019-07-11 23:59:59,analysis,205.528318,0.000,True,82.712904,...,False,0.436858,0.000,True,0.192933,0.000,True,0.033962,0.254,False
31,[27900:28799],27900,28799,2019-07-11,2019-08-02 23:59:59,analysis,211.292183,0.000,True,88.457254,...,False,0.444582,0.000,True,0.173638,0.000,True,0.018109,0.929,False
32,[28800:29699],28800,29699,2019-08-02,2019-08-24 23:59:59,analysis,235.146397,0.000,True,88.832845,...,False,0.448013,0.000,True,0.186651,0.000,True,0.026309,0.564,False
33,[29700:30599],29700,30599,2019-08-24,2019-09-15 23:59:59,analysis,258.135734,0.000,True,85.710097,...,False,0.430691,0.000,True,0.198909,0.000,True,0.029638,0.411,False
34,[30600:31499],30600,31499,2019-09-15,2019-10-08 23:59:59,analysis,245.462915,0.000,True,77.884383,...,False,0.434184,0.000,True,0.167402,0.000,True,0.021302,0.809,False
35,[31500:32399],31500,32399,2019-10-08,2019-10-30 23:59:59,analysis,221.076114,0.000,True,87.675651,...,False,0.442631,0.000,True,0.208122,0.000,True,0.037167,0.170,False
36,[32400:33299],32400,33299,2019-10-30,2019-11-20 23:59:59,analysis,186.892179,0.000,True,87.805433,...,False,0.429702,0.000,True,0.186207,0.000,True,0.027693,0.498,False
37,[33300:34199],33300,34199,2019-11-20,2019-12-12 23:59:59,analysis,223.059525,0.000,True,61.496411,...,False,0.445753,0.000,True,0.203309,0.000,True,0.028440,0.464,False
38,[34200:35099],34200,35099,2019-12-12,2020-01-02 23:59:59,analysis,219.101577,0.000,True,86.750059,...,False,0.431420,0.000,True,0.182909,0.000,True,0.018982,0.902,False
39,[35100:35999],35100,35999,2020-01-02,2020-01-25 23:59:59,analysis,199.844316,0.000,True,86.971404,...,False,0.441418,0.000,True,0.222949,0.000,True,0.027987,0.484,False
40,[36000:36899],36000,36899,2020-01-25,2020-02-15 23:59:59,analysis,235.146397,0.000,True,88.116175,...,True,0.456304,0.000,True,0.226809,0.000,True,0.018087,0.929,False
41,[36900:37799],36900,37799,2020-02-15,2020-03-09 23:59:59,analysis,227.052977,0.000,True,79.670913,...,False,0.440682,0.000,True,0.224444,0.000,True,0.032136,0.314,False
42,[37800:38699],37800,38699,2020-03-09,2020-03-29 23:59:59,analysis,241.309674,0.000,True,82.012191,...,False,0.424264,0.000,True,0.189322,0.000,True,0.035091,0.221,False
43,[38700:39599],38700,39599,2020-03-29,2020-04-21 23:59:59,analysis,229.063017,0.000,True,86.373989,...,False,0.448060,0.000,True,0.180618,0.000,True,0.040111,0.113,False
44,[39600:40499],39600,40499,2020-04-21,2020-05-13 23:59:59,analysis,219.101577,0.000,True,84.772464,...,False,0.442160,0.000,True,0.173511,0.000,True,0.030302,0.384,False
45,[40500:41399],40500,41399,2020-05-13,2020-06-03 23:59:59,analysis,165.699768,0.000,True,84.736317,...,False,0.442836,0.000,True,0.185182,0.000,True,0.021011,0.822,False
46,[41400:42299],41400,42299,2020-06-03,2020-06-25 23:59:59,analysis,215.179131,0.000,True,77.084590,...,True,0.439396,0.000,True,0.188553,0.000,True,0.021324,0.808,False
47,[42300:43199],42300,43199,2020-06-25,2020-07-18 23:59:59,analysis,177.906789,0.000,True,80.329151,...,False,0.461502,0.000,True,0.212562,0.000,True,0.021462,0.802,False
48,[43200:44099],43200,44099,2020-07-18,2020-08-09 23:59:59,analysis,199.844316,0.000,True,83.738284,...,False,0.430536,0.000,True,0.189958,0.000,True,0.022460,0.755,False
49,[44100:44999],44100,44999,2020-08-09,2020-09-01 23:59:59,analysis,209.362021,0.000,True,89.161114,...,False,0.420931,0.000,True,0.194131,0.000,True,0.031153,0.350,False
50,[45000:45899],45000,45899,2020-09-01,2020-09-23 23:59:59,analysis,243.381855,0.000,True,87.411251,...,False,0.448551,0.000,True,0.214269,0.000,True,0.018118,0.929,False
51,[45900:46799],45900,46799,2020-09-23,2020-10-15 23:59:59,analysis,215.179131,0.000,True,84.755769,...,False,0.446309,0.000,True,0.230647,0.000,True,0.022056,0.774,False
52,[46800:47699],46800,47699,2020-10-15,2020-11-06 23:59:59,analysis,229.063017,0.000,True,93.785334,...,False,0.428924,0.000,True,0.181240,0.000,True,0.031933,0.321,False
53,[47700:48599],47700,48599,2020-11-06,2020-11-27 23:59:59,analysis,282.199570,0.000,True,91.045250,...,False,0.453376,0.000,True,0.187380,0.000,True,0.014053,0.994,False
54,[48600:49499],48600,49499,2020-11-27,2020-12-20 23:59:59,analysis,213.231220,0.000,True,90.852414,...,False,0.438544,0.000,True,0.213018,0.000,True,0.025789,0.590,False

In [18]:
rcerror_calculator = nml.ReconstructionErrorDriftCalculator(model_metadata=md)

In [19]:
rcerror_calculator.fit(reference_data=reference)

In [20]:
rcerror_results = rcerror_calculator.calculate(data=fdata, chunk_size=5000)
rcerror_results

,key,start_index,end_index,start_date,end_date,partition,reconstruction_error,alert
0,[0:4999],0,4999,2014-05-09,2014-09-09 23:59:59,reference,1.120961,0
1,[5000:9999],5000,9999,2014-09-09,2015-01-09 23:59:59,reference,1.118071,0
2,[10000:14999],10000,14999,2015-01-09,2015-05-09 23:59:59,reference,1.117237,0
3,[15000:19999],15000,19999,2015-05-09,2015-09-07 23:59:59,reference,1.125514,0
4,[20000:24999],20000,24999,2015-09-07,2016-01-08 23:59:59,reference,1.109446,0
5,[25000:29999],25000,29999,2016-01-08,2016-05-09 23:59:59,reference,1.122759,0
6,[30000:34999],30000,34999,2016-05-09,2016-09-04 23:59:59,reference,1.107138,0
7,[35000:39999],35000,39999,2016-09-04,2017-01-03 23:59:59,reference,1.127134,0
8,[40000:44999],40000,44999,2017-01-03,2017-05-03 23:59:59,reference,1.114237,0
9,[45000:49999],45000,49999,2017-05-03,2017-08-31 23:59:59,reference,1.110450,0
10,[50000:54999],50000,54999,2017-08-31,2018-01-02 23:59:59,analysis,1.118536,0
11,[55000:59999],55000,59999,2018-01-02,2018-05-01 23:59:59,analysis,1.115044,0
12,[60000:64999],60000,64999,2018-05-01,2018-09-01 23:59:59,analysis,1.125460,0
13,[65000:69999],65000,69999,2018-09-01,2018-12-31 23:59:59,analysis,1.128453,0
14,[70000:74999],70000,74999,2018-12-31,2019-04-30 23:59:59,analysis,1.122892,0
15,[75000:79999],75000,79999,2019-04-30,2019-09-01 23:59:59,analysis,1.228393,1
16,[80000:84999],80000,84999,2019-09-01,2019-12-31 23:59:59,analysis,1.220028,1
17,[85000:89999],85000,89999,2019-12-31,2020-04-30 23:59:59,analysis,1.237394,1
18,[90000:94999],90000,94999,2020-04-30,2020-09-01 23:59:59,analysis,1.206051,1
19,[95000:99999],95000,99999,2020-09-01,2021-01-01 23:59:59,analysis,1.242579,1