In [1]:
import pandas as pd
import nannyml as nml
from IPython.display import display

reference_df = nml.load_synthetic_car_price_dataset()[0]
analysis_df = nml.load_synthetic_car_price_dataset()[1]
analysis_target_df = nml.load_synthetic_car_price_dataset()[2]
analysis_df = analysis_df.join(analysis_target_df)

display(reference_df.head(3))

,car_age,km_driven,price_new,accident_count,door_count,fuel,transmission,y_true,y_pred,timestamp
0,15.0,144020.0,42810.0,4.0,3.0,diesel,automatic,569.0,1246.0,2017-01-24 08:00:00.000
1,12.0,57078.0,31835.0,3.0,3.0,electric,automatic,4277.0,4924.0,2017-01-24 08:00:33.600
2,2.0,76288.0,31851.0,3.0,5.0,diesel,automatic,7011.0,5744.0,2017-01-24 08:01:07.200

In [2]:
print(reference_df.head(3).to_markdown(tablefmt='grid'))

+----+-----------+-------------+-------------+------------------+--------------+----------+----------------+----------+----------+-------------------------+
|    |   car_age |   km_driven |   price_new |   accident_count |   door_count | fuel     | transmission   |   y_true |   y_pred | timestamp               |
+====+===========+=============+=============+==================+==============+==========+================+==========+==========+=========================+
|  0 |        15 |      144020 |       42810 |                4 |            3 | diesel   | automatic      |      569 |     1246 | 2017-01-24 08:00:00.000 |
+----+-----------+-------------+-------------+------------------+--------------+----------+----------------+----------+----------+-------------------------+
|  1 |        12 |       57078 |       31835 |                3 |            3 | electric | automatic      |     4277 |     4924 | 2017-01-24 08:00:33.600 |
+----+-----------+-------------+-------------+------------------+--------------+----------+----------------+----------+----------+-------------------------+
|  2 |         2 |       76288 |       31851 |                3 |            5 | diesel   | automatic      |     7011 |     5744 | 2017-01-24 08:01:07.200 |
+----+-----------+-------------+-------------+------------------+--------------+----------+----------------+----------+----------+-------------------------+

In [3]:
calc = nml.TargetDistributionCalculator(
    y_true='y_true',
    timestamp_column_name='timestamp',
    problem_type='regression',
)

In [4]:
calc.fit(reference_df)
results = calc.calculate(analysis_df)
display(results.data)

,key,start_index,end_index,start_date,end_date,period,targets_missing_rate,metric_target_drift,statistical_target_drift,p_value,thresholds,alert,significant
0,[0:5999],0,5999,2017-02-16 16:00:00,2017-02-18 23:59:26.400,None,0.0,4862.941167,0.014250,2.158791e-01,0.05,False,False
1,[6000:11999],6000,11999,2017-02-19 00:00:00,2017-02-21 07:59:26.400,None,0.0,4790.581500,0.016567,9.902551e-02,0.05,False,False
2,[12000:17999],12000,17999,2017-02-21 08:00:00,2017-02-23 15:59:26.400,None,0.0,4793.349333,0.010067,6.343312e-01,0.05,False,False
3,[18000:23999],18000,23999,2017-02-23 16:00:00,2017-02-25 23:59:26.400,None,0.0,4838.256167,0.011917,4.174999e-01,0.05,False,False
4,[24000:29999],24000,29999,2017-02-26 00:00:00,2017-02-28 07:59:26.400,None,0.0,4799.133500,0.008667,8.037708e-01,0.05,False,False
5,[30000:35999],30000,35999,2017-02-28 08:00:00,2017-03-02 15:59:26.400,None,0.0,4852.636667,0.171683,4.670404e-141,0.05,True,True
6,[36000:41999],36000,41999,2017-03-02 16:00:00,2017-03-04 23:59:26.400,None,0.0,4875.456667,0.180117,2.580501e-155,0.05,True,True
7,[42000:47999],42000,47999,2017-03-05 00:00:00,2017-03-07 07:59:26.400,None,0.0,4867.589000,0.179067,1.679569e-153,0.05,True,True
8,[48000:53999],48000,53999,2017-03-07 08:00:00,2017-03-09 15:59:26.400,None,0.0,4885.108000,0.183233,9.214284e-161,0.05,True,True
9,[54000:59999],54000,59999,2017-03-09 16:00:00,2017-03-11 23:59:26.400,None,0.0,4787.094167,0.187383,3.643986e-168,0.05,True,True

In [5]:
print(results.data.to_markdown(tablefmt='grid'))

+----+---------------+---------------+-------------+---------------------+----------------------------+----------+------------------------+-----------------------+----------------------------+--------------+--------------+---------+---------------+
|    | key           |   start_index |   end_index | start_date          | end_date                   | period   |   targets_missing_rate |   metric_target_drift |   statistical_target_drift |      p_value |   thresholds | alert   | significant   |
+====+===============+===============+=============+=====================+============================+==========+========================+=======================+============================+==============+==============+=========+===============+
|  0 | [0:5999]      |             0 |        5999 | 2017-02-16 16:00:00 | 2017-02-18 23:59:26.400000 |          |                      0 |               4862.94 |                 0.01425    | 0.215879     |         0.05 | False   | False         |
+----+---------------+---------------+-------------+---------------------+----------------------------+----------+------------------------+-----------------------+----------------------------+--------------+--------------+---------+---------------+
|  1 | [6000:11999]  |          6000 |       11999 | 2017-02-19 00:00:00 | 2017-02-21 07:59:26.400000 |          |                      0 |               4790.58 |                 0.0165667  | 0.0990255    |         0.05 | False   | False         |
+----+---------------+---------------+-------------+---------------------+----------------------------+----------+------------------------+-----------------------+----------------------------+--------------+--------------+---------+---------------+
|  2 | [12000:17999] |         12000 |       17999 | 2017-02-21 08:00:00 | 2017-02-23 15:59:26.400000 |          |                      0 |               4793.35 |                 0.0100667  | 0.634331     |         0.05 | False   | False         |
+----+---------------+---------------+-------------+---------------------+----------------------------+----------+------------------------+-----------------------+----------------------------+--------------+--------------+---------+---------------+
|  3 | [18000:23999] |         18000 |       23999 | 2017-02-23 16:00:00 | 2017-02-25 23:59:26.400000 |          |                      0 |               4838.26 |                 0.0119167  | 0.4175       |         0.05 | False   | False         |
+----+---------------+---------------+-------------+---------------------+----------------------------+----------+------------------------+-----------------------+----------------------------+--------------+--------------+---------+---------------+
|  4 | [24000:29999] |         24000 |       29999 | 2017-02-26 00:00:00 | 2017-02-28 07:59:26.400000 |          |                      0 |               4799.13 |                 0.00866667 | 0.803771     |         0.05 | False   | False         |
+----+---------------+---------------+-------------+---------------------+----------------------------+----------+------------------------+-----------------------+----------------------------+--------------+--------------+---------+---------------+
|  5 | [30000:35999] |         30000 |       35999 | 2017-02-28 08:00:00 | 2017-03-02 15:59:26.400000 |          |                      0 |               4852.64 |                 0.171683   | 4.6704e-141  |         0.05 | True    | True          |
+----+---------------+---------------+-------------+---------------------+----------------------------+----------+------------------------+-----------------------+----------------------------+--------------+--------------+---------+---------------+
|  6 | [36000:41999] |         36000 |       41999 | 2017-03-02 16:00:00 | 2017-03-04 23:59:26.400000 |          |                      0 |               4875.46 |                 0.180117   | 2.5805e-155  |         0.05 | True    | True          |
+----+---------------+---------------+-------------+---------------------+----------------------------+----------+------------------------+-----------------------+----------------------------+--------------+--------------+---------+---------------+
|  7 | [42000:47999] |         42000 |       47999 | 2017-03-05 00:00:00 | 2017-03-07 07:59:26.400000 |          |                      0 |               4867.59 |                 0.179067   | 1.67957e-153 |         0.05 | True    | True          |
+----+---------------+---------------+-------------+---------------------+----------------------------+----------+------------------------+-----------------------+----------------------------+--------------+--------------+---------+---------------+
|  8 | [48000:53999] |         48000 |       53999 | 2017-03-07 08:00:00 | 2017-03-09 15:59:26.400000 |          |                      0 |               4885.11 |                 0.183233   | 9.21428e-161 |         0.05 | True    | True          |
+----+---------------+---------------+-------------+---------------------+----------------------------+----------+------------------------+-----------------------+----------------------------+--------------+--------------+---------+---------------+
|  9 | [54000:59999] |         54000 |       59999 | 2017-03-09 16:00:00 | 2017-03-11 23:59:26.400000 |          |                      0 |               4787.09 |                 0.187383   | 3.64399e-168 |         0.05 | True    | True          |
+----+---------------+---------------+-------------+---------------------+----------------------------+----------+------------------------+-----------------------+----------------------------+--------------+--------------+---------+---------------+

In [6]:
display(results.calculator.previous_reference_results)

,key,start_index,end_index,start_date,end_date,period,targets_missing_rate,metric_target_drift,statistical_target_drift,p_value,thresholds,alert,significant
0,[0:5999],0,5999,2017-01-24 08:00:00,2017-01-26 15:59:26.400,None,0.0,4894.479833,0.016100,0.116973,0.05,False,False
1,[6000:11999],6000,11999,2017-01-26 16:00:00,2017-01-28 23:59:26.400,None,0.0,4767.125167,0.012017,0.407002,0.05,False,False
2,[12000:17999],12000,17999,2017-01-29 00:00:00,2017-01-31 07:59:26.400,None,0.0,4743.996667,0.011967,0.412231,0.05,False,False
3,[18000:23999],18000,23999,2017-01-31 08:00:00,2017-02-02 15:59:26.400,None,0.0,4791.321333,0.012267,0.381454,0.05,False,False
4,[24000:29999],24000,29999,2017-02-02 16:00:00,2017-02-04 23:59:26.400,None,0.0,4827.676167,0.010083,0.632257,0.05,False,False
5,[30000:35999],30000,35999,2017-02-05 00:00:00,2017-02-07 07:59:26.400,None,0.0,4811.590167,0.009500,0.704746,0.05,False,False
6,[36000:41999],36000,41999,2017-02-07 08:00:00,2017-02-09 15:59:26.400,None,0.0,4773.530833,0.006133,0.985698,0.05,False,False
7,[42000:47999],42000,47999,2017-02-09 16:00:00,2017-02-11 23:59:26.400,None,0.0,4766.004667,0.011550,0.457293,0.05,False,False
8,[48000:53999],48000,53999,2017-02-12 00:00:00,2017-02-14 07:59:26.400,None,0.0,4750.150500,0.006650,0.968017,0.05,False,False
9,[54000:59999],54000,59999,2017-02-14 08:00:00,2017-02-16 15:59:26.400,None,0.0,4744.798500,0.007867,0.885651,0.05,False,False

In [7]:
print(results.calculator.previous_reference_results.to_markdown(tablefmt='grid'))

+----+---------------+---------------+-------------+---------------------+----------------------------+----------+------------------------+-----------------------+----------------------------+-----------+--------------+---------+---------------+
|    | key           |   start_index |   end_index | start_date          | end_date                   | period   |   targets_missing_rate |   metric_target_drift |   statistical_target_drift |   p_value |   thresholds | alert   | significant   |
+====+===============+===============+=============+=====================+============================+==========+========================+=======================+============================+===========+==============+=========+===============+
|  0 | [0:5999]      |             0 |        5999 | 2017-01-24 08:00:00 | 2017-01-26 15:59:26.400000 |          |                      0 |               4894.48 |                 0.0161     |  0.116973 |         0.05 | False   | False         |
+----+---------------+---------------+-------------+---------------------+----------------------------+----------+------------------------+-----------------------+----------------------------+-----------+--------------+---------+---------------+
|  1 | [6000:11999]  |          6000 |       11999 | 2017-01-26 16:00:00 | 2017-01-28 23:59:26.400000 |          |                      0 |               4767.13 |                 0.0120167  |  0.407002 |         0.05 | False   | False         |
+----+---------------+---------------+-------------+---------------------+----------------------------+----------+------------------------+-----------------------+----------------------------+-----------+--------------+---------+---------------+
|  2 | [12000:17999] |         12000 |       17999 | 2017-01-29 00:00:00 | 2017-01-31 07:59:26.400000 |          |                      0 |               4744    |                 0.0119667  |  0.412231 |         0.05 | False   | False         |
+----+---------------+---------------+-------------+---------------------+----------------------------+----------+------------------------+-----------------------+----------------------------+-----------+--------------+---------+---------------+
|  3 | [18000:23999] |         18000 |       23999 | 2017-01-31 08:00:00 | 2017-02-02 15:59:26.400000 |          |                      0 |               4791.32 |                 0.0122667  |  0.381454 |         0.05 | False   | False         |
+----+---------------+---------------+-------------+---------------------+----------------------------+----------+------------------------+-----------------------+----------------------------+-----------+--------------+---------+---------------+
|  4 | [24000:29999] |         24000 |       29999 | 2017-02-02 16:00:00 | 2017-02-04 23:59:26.400000 |          |                      0 |               4827.68 |                 0.0100833  |  0.632257 |         0.05 | False   | False         |
+----+---------------+---------------+-------------+---------------------+----------------------------+----------+------------------------+-----------------------+----------------------------+-----------+--------------+---------+---------------+
|  5 | [30000:35999] |         30000 |       35999 | 2017-02-05 00:00:00 | 2017-02-07 07:59:26.400000 |          |                      0 |               4811.59 |                 0.0095     |  0.704746 |         0.05 | False   | False         |
+----+---------------+---------------+-------------+---------------------+----------------------------+----------+------------------------+-----------------------+----------------------------+-----------+--------------+---------+---------------+
|  6 | [36000:41999] |         36000 |       41999 | 2017-02-07 08:00:00 | 2017-02-09 15:59:26.400000 |          |                      0 |               4773.53 |                 0.00613333 |  0.985698 |         0.05 | False   | False         |
+----+---------------+---------------+-------------+---------------------+----------------------------+----------+------------------------+-----------------------+----------------------------+-----------+--------------+---------+---------------+
|  7 | [42000:47999] |         42000 |       47999 | 2017-02-09 16:00:00 | 2017-02-11 23:59:26.400000 |          |                      0 |               4766    |                 0.01155    |  0.457293 |         0.05 | False   | False         |
+----+---------------+---------------+-------------+---------------------+----------------------------+----------+------------------------+-----------------------+----------------------------+-----------+--------------+---------+---------------+
|  8 | [48000:53999] |         48000 |       53999 | 2017-02-12 00:00:00 | 2017-02-14 07:59:26.400000 |          |                      0 |               4750.15 |                 0.00665    |  0.968017 |         0.05 | False   | False         |
+----+---------------+---------------+-------------+---------------------+----------------------------+----------+------------------------+-----------------------+----------------------------+-----------+--------------+---------+---------------+
|  9 | [54000:59999] |         54000 |       59999 | 2017-02-14 08:00:00 | 2017-02-16 15:59:26.400000 |          |                      0 |               4744.8  |                 0.00786667 |  0.885651 |         0.05 | False   | False         |
+----+---------------+---------------+-------------+---------------------+----------------------------+----------+------------------------+-----------------------+----------------------------+-----------+--------------+---------+---------------+

In [8]:
target_drift_fig = results.plot(kind='target_drift', plot_reference=True)
target_drift_fig.show()

In [9]:
target_drift_fig.write_image('../_static/tutorials/detecting_data_drift/model_targets/regression/target-drift.svg')

In [10]:
target_distribution_fig = results.plot(kind='target_distribution', plot_reference=True)
target_distribution_fig.show()

In [11]:
target_distribution_fig.write_image('../_static/tutorials/detecting_data_drift/model_targets/regression/target-distribution.svg')