In [ ]:
import nannyml as nml
from IPython.display import display

reference_df = nml.load_synthetic_binary_classification_dataset()[0]
analysis_df = nml.load_synthetic_binary_classification_dataset()[1]

display(reference_df.head(3))

,distance_from_office,salary_range,gas_price_per_litre,public_transportation_cost,wfh_prev_workday,workday,tenure,identifier,work_home_actual,timestamp,y_pred_proba,period,y_pred
0,5.962247,40K - 60K €,2.119485,8.568058,False,Friday,0.212653,0,1,2014-05-09 22:27:20,0.99,reference,1
1,0.535872,40K - 60K €,2.357199,5.425382,True,Tuesday,4.927549,1,0,2014-05-09 22:59:32,0.07,reference,0
2,1.969519,40K - 60K €,2.366849,8.247158,False,Monday,0.520817,2,1,2014-05-09 23:48:25,1.00,reference,1

In [ ]:
print(reference_df.head(3).to_markdown(tablefmt="grid"))

+----+------------------------+----------------+-----------------------+------------------------------+--------------------+-----------+----------+--------------+--------------------+---------------------+----------------+-----------+----------+
|    |   distance_from_office | salary_range   |   gas_price_per_litre |   public_transportation_cost | wfh_prev_workday   | workday   |   tenure |   identifier |   work_home_actual | timestamp           |   y_pred_proba | period    |   y_pred |
+====+========================+================+=======================+==============================+====================+===========+==========+==============+====================+=====================+================+===========+==========+
|  0 |               5.96225  | 40K - 60K €    |               2.11948 |                      8.56806 | False              | Friday    | 0.212653 |            0 |                  1 | 2014-05-09 22:27:20 |           0.99 | reference |        1 |
+----+------------------------+----------------+-----------------------+------------------------------+--------------------+-----------+----------+--------------+--------------------+---------------------+----------------+-----------+----------+
|  1 |               0.535872 | 40K - 60K €    |               2.3572  |                      5.42538 | True               | Tuesday   | 4.92755  |            1 |                  0 | 2014-05-09 22:59:32 |           0.07 | reference |        0 |
+----+------------------------+----------------+-----------------------+------------------------------+--------------------+-----------+----------+--------------+--------------------+---------------------+----------------+-----------+----------+
|  2 |               1.96952  | 40K - 60K €    |               2.36685 |                      8.24716 | False              | Monday    | 0.520817 |            2 |                  1 | 2014-05-09 23:48:25 |           1    | reference |        1 |
+----+------------------------+----------------+-----------------------+------------------------------+--------------------+-----------+----------+--------------+--------------------+---------------------+----------------+-----------+----------+

In [ ]:
estimator = nml.CBPE(
    y_pred_proba='y_pred_proba',
    y_pred='y_pred',
    y_true='work_home_actual',
    timestamp_column_name='timestamp',
    metrics=['roc_auc', 'f1'],
    chunk_size=5000,
    problem_type='classification_binary',
)

estimator.fit(reference_df)

In [ ]:
results = estimator.estimate(analysis_df)
display(results.filter(period='analysis').to_df())

           chunk                                                        \
             key chunk_index start_index end_index          start_date
0       [0:4999]           0           0      4999 2017-08-31 04:20:00
1    [5000:9999]           1        5000      9999 2018-01-02 01:13:11
2  [10000:14999]           2       10000     14999 2018-05-01 14:25:25
3  [15000:19999]           3       15000     19999 2018-09-01 16:19:07
4  [20000:24999]           4       20000     24999 2018-12-31 10:38:45
5  [25000:29999]           5       25000     29999 2019-04-30 11:02:00
6  [30000:34999]           6       30000     34999 2019-09-01 00:28:54
7  [35000:39999]           7       35000     39999 2019-12-31 10:07:15
8  [40000:44999]           8       40000     44999 2020-04-30 12:04:32
9  [45000:49999]           9       45000     49999 2020-09-01 02:46:13

                                       roc_auc                     ...  \
             end_date    period sampling_error realized     value  ...
0 2018-01-02 00:45:44  analysis       0.001811      NaN  0.968631  ...
1 2018-05-01 13:10:10  analysis       0.001811      NaN  0.969044  ...
2 2018-09-01 15:40:40  analysis       0.001811      NaN  0.969444  ...
3 2018-12-31 10:11:21  analysis       0.001811      NaN  0.969047  ...
4 2019-04-30 11:01:30  analysis       0.001811      NaN  0.968873  ...
5 2019-09-01 00:24:27  analysis       0.001811      NaN  0.960478  ...
6 2019-12-31 09:09:12  analysis       0.001811      NaN  0.961134  ...
7 2020-04-30 11:46:53  analysis       0.001811      NaN  0.960536  ...
8 2020-09-01 02:46:02  analysis       0.001811      NaN  0.961869  ...
9 2021-01-01 04:29:32  analysis       0.001811      NaN  0.960537  ...

                                     f1                     \
  lower_threshold  alert sampling_error realized     value
0        0.963317  False       0.006104      NaN  0.948555
1        0.963317  False       0.006104      NaN  0.946578
2        0.963317  False       0.006104      NaN  0.948807
3        0.963317  False       0.006104      NaN  0.947655
4        0.963317  False       0.006104      NaN  0.948834
5        0.963317   True       0.006104      NaN  0.923233
6        0.963317   True       0.006104      NaN  0.923596
7        0.963317   True       0.006104      NaN  0.922902
8        0.963317   True       0.006104      NaN  0.924172
9        0.963317   True       0.006104      NaN  0.924915

                                                                       \
  upper_confidence_boundary lower_confidence_boundary upper_threshold
0                  0.966868                  0.930242        0.961094
1                  0.964891                  0.928265        0.961094
2                  0.967120                  0.930494        0.961094
3                  0.965968                  0.929342        0.961094
4                  0.967147                  0.930521        0.961094
5                  0.941545                  0.904920        0.961094
6                  0.941909                  0.905283        0.961094
7                  0.941215                  0.904589        0.961094
8                  0.942485                  0.905859        0.961094
9                  0.943228                  0.906602        0.961094


  lower_threshold  alert
0        0.935047  False
1        0.935047  False
2        0.935047  False
3        0.935047  False
4        0.935047  False
5        0.935047   True
6        0.935047   True
7        0.935047   True
8        0.935047   True
9        0.935047   True

[10 rows x 23 columns]

In [ ]:
print(results.filter(period='analysis').to_df().to_markdown(tablefmt="grid"))

+----+--------------------+----------------------------+----------------------------+--------------------------+---------------------------+-------------------------+-----------------------+---------------------------------+---------------------------+------------------------+--------------------------------------------+--------------------------------------------+----------------------------------+----------------------------------+------------------------+----------------------------+----------------------+-------------------+---------------------------------------+---------------------------------------+-----------------------------+-----------------------------+-------------------+
|    | ('chunk', 'key')   |   ('chunk', 'chunk_index') |   ('chunk', 'start_index') |   ('chunk', 'end_index') | ('chunk', 'start_date')   | ('chunk', 'end_date')   | ('chunk', 'period')   |   ('roc_auc', 'sampling_error') |   ('roc_auc', 'realized') |   ('roc_auc', 'value') |   ('roc_auc', 'upper_confidence_boundary') |   ('roc_auc', 'lower_confidence_boundary') |   ('roc_auc', 'upper_threshold') |   ('roc_auc', 'lower_threshold') | ('roc_auc', 'alert')   |   ('f1', 'sampling_error') |   ('f1', 'realized') |   ('f1', 'value') |   ('f1', 'upper_confidence_boundary') |   ('f1', 'lower_confidence_boundary') |   ('f1', 'upper_threshold') |   ('f1', 'lower_threshold') | ('f1', 'alert')   |
+====+====================+============================+============================+==========================+===========================+=========================+=======================+=================================+===========================+========================+============================================+============================================+==================================+==================================+========================+============================+======================+===================+=======================================+=======================================+=============================+=============================+===================+
|  0 | [0:4999]           |                          0 |                          0 |                     4999 | 2017-08-31 04:20:00       | 2018-01-02 00:45:44     | analysis              |                      0.00181072 |                       nan |               0.968631 |                                   0.974063 |                                   0.963198 |                          0.97866 |                         0.963317 | False                  |                 0.00610429 |                  nan |          0.948555 |                              0.966868 |                              0.930242 |                    0.961094 |                    0.935047 | False             |
+----+--------------------+----------------------------+----------------------------+--------------------------+---------------------------+-------------------------+-----------------------+---------------------------------+---------------------------+------------------------+--------------------------------------------+--------------------------------------------+----------------------------------+----------------------------------+------------------------+----------------------------+----------------------+-------------------+---------------------------------------+---------------------------------------+-----------------------------+-----------------------------+-------------------+
|  1 | [5000:9999]        |                          1 |                       5000 |                     9999 | 2018-01-02 01:13:11       | 2018-05-01 13:10:10     | analysis              |                      0.00181072 |                       nan |               0.969044 |                                   0.974476 |                                   0.963612 |                          0.97866 |                         0.963317 | False                  |                 0.00610429 |                  nan |          0.946578 |                              0.964891 |                              0.928265 |                    0.961094 |                    0.935047 | False             |
+----+--------------------+----------------------------+----------------------------+--------------------------+---------------------------+-------------------------+-----------------------+---------------------------------+---------------------------+------------------------+--------------------------------------------+--------------------------------------------+----------------------------------+----------------------------------+------------------------+----------------------------+----------------------+-------------------+---------------------------------------+---------------------------------------+-----------------------------+-----------------------------+-------------------+
|  2 | [10000:14999]      |                          2 |                      10000 |                    14999 | 2018-05-01 14:25:25       | 2018-09-01 15:40:40     | analysis              |                      0.00181072 |                       nan |               0.969444 |                                   0.974876 |                                   0.964012 |                          0.97866 |                         0.963317 | False                  |                 0.00610429 |                  nan |          0.948807 |                              0.96712  |                              0.930494 |                    0.961094 |                    0.935047 | False             |
+----+--------------------+----------------------------+----------------------------+--------------------------+---------------------------+-------------------------+-----------------------+---------------------------------+---------------------------+------------------------+--------------------------------------------+--------------------------------------------+----------------------------------+----------------------------------+------------------------+----------------------------+----------------------+-------------------+---------------------------------------+---------------------------------------+-----------------------------+-----------------------------+-------------------+
|  3 | [15000:19999]      |                          3 |                      15000 |                    19999 | 2018-09-01 16:19:07       | 2018-12-31 10:11:21     | analysis              |                      0.00181072 |                       nan |               0.969047 |                                   0.974479 |                                   0.963615 |                          0.97866 |                         0.963317 | False                  |                 0.00610429 |                  nan |          0.947655 |                              0.965968 |                              0.929342 |                    0.961094 |                    0.935047 | False             |
+----+--------------------+----------------------------+----------------------------+--------------------------+---------------------------+-------------------------+-----------------------+---------------------------------+---------------------------+------------------------+--------------------------------------------+--------------------------------------------+----------------------------------+----------------------------------+------------------------+----------------------------+----------------------+-------------------+---------------------------------------+---------------------------------------+-----------------------------+-----------------------------+-------------------+
|  4 | [20000:24999]      |                          4 |                      20000 |                    24999 | 2018-12-31 10:38:45       | 2019-04-30 11:01:30     | analysis              |                      0.00181072 |                       nan |               0.968873 |                                   0.974305 |                                   0.963441 |                          0.97866 |                         0.963317 | False                  |                 0.00610429 |                  nan |          0.948834 |                              0.967147 |                              0.930521 |                    0.961094 |                    0.935047 | False             |
+----+--------------------+----------------------------+----------------------------+--------------------------+---------------------------+-------------------------+-----------------------+---------------------------------+---------------------------+------------------------+--------------------------------------------+--------------------------------------------+----------------------------------+----------------------------------+------------------------+----------------------------+----------------------+-------------------+---------------------------------------+---------------------------------------+-----------------------------+-----------------------------+-------------------+
|  5 | [25000:29999]      |                          5 |                      25000 |                    29999 | 2019-04-30 11:02:00       | 2019-09-01 00:24:27     | analysis              |                      0.00181072 |                       nan |               0.960478 |                                   0.96591  |                                   0.955046 |                          0.97866 |                         0.963317 | True                   |                 0.00610429 |                  nan |          0.923233 |                              0.941545 |                              0.90492  |                    0.961094 |                    0.935047 | True              |
+----+--------------------+----------------------------+----------------------------+--------------------------+---------------------------+-------------------------+-----------------------+---------------------------------+---------------------------+------------------------+--------------------------------------------+--------------------------------------------+----------------------------------+----------------------------------+------------------------+----------------------------+----------------------+-------------------+---------------------------------------+---------------------------------------+-----------------------------+-----------------------------+-------------------+
|  6 | [30000:34999]      |                          6 |                      30000 |                    34999 | 2019-09-01 00:28:54       | 2019-12-31 09:09:12     | analysis              |                      0.00181072 |                       nan |               0.961134 |                                   0.966566 |                                   0.955701 |                          0.97866 |                         0.963317 | True                   |                 0.00610429 |                  nan |          0.923596 |                              0.941909 |                              0.905283 |                    0.961094 |                    0.935047 | True              |
+----+--------------------+----------------------------+----------------------------+--------------------------+---------------------------+-------------------------+-----------------------+---------------------------------+---------------------------+------------------------+--------------------------------------------+--------------------------------------------+----------------------------------+----------------------------------+------------------------+----------------------------+----------------------+-------------------+---------------------------------------+---------------------------------------+-----------------------------+-----------------------------+-------------------+
|  7 | [35000:39999]      |                          7 |                      35000 |                    39999 | 2019-12-31 10:07:15       | 2020-04-30 11:46:53     | analysis              |                      0.00181072 |                       nan |               0.960536 |                                   0.965968 |                                   0.955104 |                          0.97866 |                         0.963317 | True                   |                 0.00610429 |                  nan |          0.922902 |                              0.941215 |                              0.904589 |                    0.961094 |                    0.935047 | True              |
+----+--------------------+----------------------------+----------------------------+--------------------------+---------------------------+-------------------------+-----------------------+---------------------------------+---------------------------+------------------------+--------------------------------------------+--------------------------------------------+----------------------------------+----------------------------------+------------------------+----------------------------+----------------------+-------------------+---------------------------------------+---------------------------------------+-----------------------------+-----------------------------+-------------------+
|  8 | [40000:44999]      |                          8 |                      40000 |                    44999 | 2020-04-30 12:04:32       | 2020-09-01 02:46:02     | analysis              |                      0.00181072 |                       nan |               0.961869 |                                   0.967301 |                                   0.956437 |                          0.97866 |                         0.963317 | True                   |                 0.00610429 |                  nan |          0.924172 |                              0.942485 |                              0.905859 |                    0.961094 |                    0.935047 | True              |
+----+--------------------+----------------------------+----------------------------+--------------------------+---------------------------+-------------------------+-----------------------+---------------------------------+---------------------------+------------------------+--------------------------------------------+--------------------------------------------+----------------------------------+----------------------------------+------------------------+----------------------------+----------------------+-------------------+---------------------------------------+---------------------------------------+-----------------------------+-----------------------------+-------------------+
|  9 | [45000:49999]      |                          9 |                      45000 |                    49999 | 2020-09-01 02:46:13       | 2021-01-01 04:29:32     | analysis              |                      0.00181072 |                       nan |               0.960537 |                                   0.965969 |                                   0.955104 |                          0.97866 |                         0.963317 | True                   |                 0.00610429 |                  nan |          0.924915 |                              0.943228 |                              0.906602 |                    0.961094 |                    0.935047 | True              |
+----+--------------------+----------------------------+----------------------------+--------------------------+---------------------------+-------------------------+-----------------------+---------------------------------+---------------------------+------------------------+--------------------------------------------+--------------------------------------------+----------------------------------+----------------------------------+------------------------+----------------------------+----------------------+-------------------+---------------------------------------+---------------------------------------+-----------------------------+-----------------------------+-------------------+

In [ ]:
for metric in estimator.metrics:
    metric_fig = results.plot(kind='performance', metric=metric)
    metric_fig.show()

In [ ]:
for metric in estimator.metrics:
    metric_fig = results.plot(kind='performance', metric=metric)
    metric_fig.write_image(file=f"../_static/tutorial-perf-est-guide-analysis-{str(metric)}.svg")

In [ ]:
for metric in estimator.metrics:
    metric_fig = results.plot(kind='performance', plot_reference=True, metric=metric)
    metric_fig.show()

In [ ]:
for metric in estimator.metrics:
    metric_fig = results.plot(kind='performance', plot_reference=True, metric=metric)
    metric_fig.write_image(file=f"../_static/tutorial-perf-est-guide-with-ref-{str(metric)}.svg")