In [2]:
import pandas as pd
import nannyml as nml
from IPython.display import display

reference, analysis, analysis_gt = nml.datasets.load_synthetic_sample()
display(reference.head(3))

display(analysis.head(3))

metadata = nml.extract_metadata(reference, model_name='wfh_predictor')
metadata.target_column_name = 'work_home_actual'

cbpe = nml.CBPE(model_metadata=metadata, chunk_size=5000, metrics=['roc_auc', 'f1', 'precision', 'recall']).fit(reference_data=reference)
est_perf = cbpe.estimate(pd.concat([reference, analysis], ignore_index=True))

display(est_perf.data.head(3))

for metric in cbpe.metrics:
    est_perf.plot(kind='performance', metric=metric).show()

,distance_from_office,salary_range,gas_price_per_litre,public_transportation_cost,wfh_prev_workday,workday,tenure,identifier,work_home_actual,timestamp,y_pred_proba,partition,y_pred
0,5.962247,40K - 60K €,2.119485,8.568058,False,Friday,0.212653,0,1,2014-05-09 22:27:20,0.99,reference,1
1,0.535872,40K - 60K €,2.357199,5.425382,True,Tuesday,4.927549,1,0,2014-05-09 22:59:32,0.07,reference,0
2,1.969519,40K - 60K €,2.366849,8.247158,False,Monday,0.520817,2,1,2014-05-09 23:48:25,1.00,reference,1

,distance_from_office,salary_range,gas_price_per_litre,public_transportation_cost,wfh_prev_workday,workday,tenure,identifier,timestamp,y_pred_proba,partition,y_pred
0,0.527691,0 - 20K €,1.800003,8.960724,False,Tuesday,4.224628,50000,2017-08-31 04:20:00,0.99,analysis,1
1,8.485134,20K - 20K €,2.222074,8.768792,False,Friday,4.963103,50001,2017-08-31 05:16:16,0.98,analysis,1
2,2.073876,40K - 60K €,2.310077,8.649979,True,Friday,4.588951,50002,2017-08-31 05:56:44,0.98,analysis,1

TypeError: CBPE.__init__() got an unexpected keyword argument 'metrics'