In [ ]:
import nannyml as nml
from IPython.display import display

reference_df, monitored_df, _ = nml.load_synthetic_car_loan_dataset()
display(reference_df.head())

,id,car_value,salary_range,debt_to_income_ratio,loan_length,repaid_loan_on_prev_car,size_of_downpayment,driver_tenure,repaid,timestamp,y_pred_proba,y_pred
0,0,39811.0,40K - 60K €,0.632950,19.0,False,40%,0.212653,1.0,2018-01-01 00:00:00.000,0.99,1
1,1,12679.0,40K - 60K €,0.718627,7.0,True,10%,4.927549,0.0,2018-01-01 00:08:43.152,0.07,0
2,2,19847.0,40K - 60K €,0.721724,17.0,False,0%,0.520817,1.0,2018-01-01 00:17:26.304,1.00,1
3,3,22652.0,20K - 20K €,0.705992,16.0,False,10%,0.453649,1.0,2018-01-01 00:26:09.456,0.98,1
4,4,21268.0,60K+ €,0.671888,21.0,True,30%,5.695263,1.0,2018-01-01 00:34:52.608,0.99,1

In [ ]:
from docs.utils import print_multi_index_markdown
print_multi_index_markdown(reference_df.head())

+----+------+-------------+----------------+------------------------+---------------+---------------------------+-----------------------+-----------------+----------+-------------------------+----------------+----------+
|    | id   | car_value   | salary_range   | debt_to_income_ratio   | loan_length   | repaid_loan_on_prev_car   | size_of_downpayment   | driver_tenure   | repaid   | timestamp               | y_pred_proba   | y_pred   |
+====+======+=============+================+========================+===============+===========================+=======================+=================+==========+=========================+================+==========+
| 0  | 0    | 39811       | 40K - 60K €    | 0.63295                | 19            | False                     | 40%                   | 0.212653        | 1        | 2018-01-01 00:00:00.000 | 0.99           | 1        |
+----+------+-------------+----------------+------------------------+---------------+---------------------------+-----------------------+-----------------+----------+-------------------------+----------------+----------+
| 1  | 1    | 12679       | 40K - 60K €    | 0.718627               | 7             | True                      | 10%                   | 4.92755         | 0        | 2018-01-01 00:08:43.152 | 0.07           | 0        |
+----+------+-------------+----------------+------------------------+---------------+---------------------------+-----------------------+-----------------+----------+-------------------------+----------------+----------+
| 2  | 2    | 19847       | 40K - 60K €    | 0.721724               | 17            | False                     | 0%                    | 0.520817        | 1        | 2018-01-01 00:17:26.304 | 1              | 1        |
+----+------+-------------+----------------+------------------------+---------------+---------------------------+-----------------------+-----------------+----------+-------------------------+----------------+----------+
| 3  | 3    | 22652       | 20K - 20K €    | 0.705992               | 16            | False                     | 10%                   | 0.453649        | 1        | 2018-01-01 00:26:09.456 | 0.98           | 1        |
+----+------+-------------+----------------+------------------------+---------------+---------------------------+-----------------------+-----------------+----------+-------------------------+----------------+----------+
| 4  | 4    | 21268       | 60K+ €         | 0.671888               | 21            | True                      | 30%                   | 5.69526         | 1        | 2018-01-01 00:34:52.608 | 0.99           | 1        |
+----+------+-------------+----------------+------------------------+---------------+---------------------------+-----------------------+-----------------+----------+-------------------------+----------------+----------+

In [ ]:
column_names = ['car_value', 'salary_range', 'debt_to_income_ratio', 'loan_length', 'repaid_loan_on_prev_car', 'size_of_downpayment', 'driver_tenure', 'y_pred_proba', 'y_pred']

calc = nml.UnivariateDriftCalculator(
    column_names=column_names,
    treat_as_categorical=['y_pred'],
    timestamp_column_name='timestamp',
    continuous_methods=['kolmogorov_smirnov', 'jensen_shannon'],
    categorical_methods=['chi2', 'jensen_shannon'],
)

In [ ]:
calc.fit(reference_df)
results = calc.calculate(monitored_df)
display(results.filter(period='monitored', column_names=['debt_to_income_ratio']).to_df())

           chunk                                                        \
           chunk
             key chunk_index start_index end_index          start_date
0       [0:4999]           0           0      4999 2018-10-30 18:00:00
1    [5000:9999]           1        5000      9999 2018-11-30 00:36:00
2  [10000:14999]           2       10000     14999 2018-12-30 07:12:00
3  [15000:19999]           3       15000     19999 2019-01-29 13:48:00
4  [20000:24999]           4       20000     24999 2019-02-28 20:24:00
5  [25000:29999]           5       25000     29999 2019-03-31 03:00:00
6  [30000:34999]           6       30000     34999 2019-04-30 09:36:00
7  [35000:39999]           7       35000     39999 2019-05-30 16:12:00
8  [40000:44999]           8       40000     44999 2019-06-29 22:48:00
9  [45000:49999]           9       45000     49999 2019-07-30 05:24:00

                                     debt_to_income_ratio                  \
                                       kolmogorov_smirnov
                 end_date     period                value upper_threshold
0 2018-11-30 00:27:16.848  monitored              0.01576        0.018584
1 2018-12-30 07:03:16.848  monitored              0.01268        0.018584
2 2019-01-29 13:39:16.848  monitored              0.01734        0.018584
3 2019-02-28 20:15:16.848  monitored              0.01280        0.018584
4 2019-03-31 02:51:16.848  monitored              0.01918        0.018584
5 2019-04-30 09:27:16.848  monitored              0.00824        0.018584
6 2019-05-30 16:03:16.848  monitored              0.01058        0.018584
7 2019-06-29 22:39:16.848  monitored              0.01002        0.018584
8 2019-07-30 05:15:16.848  monitored              0.01068        0.018584
9 2019-08-29 11:51:16.848  monitored              0.00680        0.018584


                         jensen_shannon
  lower_threshold  alert          value upper_threshold lower_threshold  alert
0            None  False       0.031661        0.039328            None  False
1            None  False       0.030011        0.039328            None  False
2            None  False       0.031129        0.039328            None  False
3            None  False       0.029464        0.039328            None  False
4            None   True       0.030809        0.039328            None  False
5            None  False       0.028681        0.039328            None  False
6            None  False       0.043628        0.039328            None   True
7            None  False       0.029253        0.039328            None  False
8            None  False       0.030628        0.039328            None  False
9            None  False       0.028330        0.039328            None  False

In [ ]:
print_multi_index_markdown(results.filter(period='monitored', column_names=['debt_to_income_ratio']).to_df())

+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+---------------------+---------------------+-----------+--------------------+---------------------+---------------------+-----------+
|    | | chunk       |                 |                 |               |                     |                            |            | | debt_to_income_ratio   |                     |                     |           |                    |                     |                     |           |
|    | | chunk       |                 |                 |               |                     |                            |            | | kolmogorov_smirnov     |                     |                     |           | | jensen_shannon   |                     |                     |           |
|    | | key         | | chunk_index   | | start_index   | | end_index   | | start_date        | | end_date                 | | period   | | value                  | | upper_threshold   | | lower_threshold   | | alert   | | value            | | upper_threshold   | | lower_threshold   | | alert   |
+====+===============+=================+=================+===============+=====================+============================+============+==========================+=====================+=====================+===========+====================+=====================+=====================+===========+
| 0  | [0:4999]      | 0               | 0               | 4999          | 2018-10-30 18:00:00 | 2018-11-30 00:27:16.848000 | monitored  | 0.01576                  | 0.0185838           |                     | False     | 0.0316611          | 0.0393276           |                     | False     |
+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+---------------------+---------------------+-----------+--------------------+---------------------+---------------------+-----------+
| 1  | [5000:9999]   | 1               | 5000            | 9999          | 2018-11-30 00:36:00 | 2018-12-30 07:03:16.848000 | monitored  | 0.01268                  | 0.0185838           |                     | False     | 0.0300113          | 0.0393276           |                     | False     |
+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+---------------------+---------------------+-----------+--------------------+---------------------+---------------------+-----------+
| 2  | [10000:14999] | 2               | 10000           | 14999         | 2018-12-30 07:12:00 | 2019-01-29 13:39:16.848000 | monitored  | 0.01734                  | 0.0185838           |                     | False     | 0.0311286          | 0.0393276           |                     | False     |
+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+---------------------+---------------------+-----------+--------------------+---------------------+---------------------+-----------+
| 3  | [15000:19999] | 3               | 15000           | 19999         | 2019-01-29 13:48:00 | 2019-02-28 20:15:16.848000 | monitored  | 0.0128                   | 0.0185838           |                     | False     | 0.0294644          | 0.0393276           |                     | False     |
+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+---------------------+---------------------+-----------+--------------------+---------------------+---------------------+-----------+
| 4  | [20000:24999] | 4               | 20000           | 24999         | 2019-02-28 20:24:00 | 2019-03-31 02:51:16.848000 | monitored  | 0.01918                  | 0.0185838           |                     | True      | 0.0308095          | 0.0393276           |                     | False     |
+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+---------------------+---------------------+-----------+--------------------+---------------------+---------------------+-----------+
| 5  | [25000:29999] | 5               | 25000           | 29999         | 2019-03-31 03:00:00 | 2019-04-30 09:27:16.848000 | monitored  | 0.00824                  | 0.0185838           |                     | False     | 0.0286811          | 0.0393276           |                     | False     |
+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+---------------------+---------------------+-----------+--------------------+---------------------+---------------------+-----------+
| 6  | [30000:34999] | 6               | 30000           | 34999         | 2019-04-30 09:36:00 | 2019-05-30 16:03:16.848000 | monitored  | 0.01058                  | 0.0185838           |                     | False     | 0.0436276          | 0.0393276           |                     | True      |
+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+---------------------+---------------------+-----------+--------------------+---------------------+---------------------+-----------+
| 7  | [35000:39999] | 7               | 35000           | 39999         | 2019-05-30 16:12:00 | 2019-06-29 22:39:16.848000 | monitored  | 0.01002                  | 0.0185838           |                     | False     | 0.0292533          | 0.0393276           |                     | False     |
+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+---------------------+---------------------+-----------+--------------------+---------------------+---------------------+-----------+
| 8  | [40000:44999] | 8               | 40000           | 44999         | 2019-06-29 22:48:00 | 2019-07-30 05:15:16.848000 | monitored  | 0.01068                  | 0.0185838           |                     | False     | 0.0306276          | 0.0393276           |                     | False     |
+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+---------------------+---------------------+-----------+--------------------+---------------------+---------------------+-----------+
| 9  | [45000:49999] | 9               | 45000           | 49999         | 2019-07-30 05:24:00 | 2019-08-29 11:51:16.848000 | monitored  | 0.0068                   | 0.0185838           |                     | False     | 0.0283303          | 0.0393276           |                     | False     |
+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+---------------------+---------------------+-----------+--------------------+---------------------+---------------------+-----------+

In [ ]:
display(results.filter(period='monitored', column_names=['debt_to_income_ratio']).to_df(multilevel=False))

,chunk_key,chunk_index,chunk_start_index,chunk_end_index,chunk_start_date,chunk_end_date,chunk_period,debt_to_income_ratio_kolmogorov_smirnov_value,debt_to_income_ratio_kolmogorov_smirnov_upper_threshold,debt_to_income_ratio_kolmogorov_smirnov_lower_threshold,debt_to_income_ratio_kolmogorov_smirnov_alert,debt_to_income_ratio_jensen_shannon_value,debt_to_income_ratio_jensen_shannon_upper_threshold,debt_to_income_ratio_jensen_shannon_lower_threshold,debt_to_income_ratio_jensen_shannon_alert
0,[0:4999],0,0,4999,2018-10-30 18:00:00,2018-11-30 00:27:16.848,monitored,0.01576,0.018584,None,False,0.031661,0.039328,None,False
1,[5000:9999],1,5000,9999,2018-11-30 00:36:00,2018-12-30 07:03:16.848,monitored,0.01268,0.018584,None,False,0.030011,0.039328,None,False
2,[10000:14999],2,10000,14999,2018-12-30 07:12:00,2019-01-29 13:39:16.848,monitored,0.01734,0.018584,None,False,0.031129,0.039328,None,False
3,[15000:19999],3,15000,19999,2019-01-29 13:48:00,2019-02-28 20:15:16.848,monitored,0.01280,0.018584,None,False,0.029464,0.039328,None,False
4,[20000:24999],4,20000,24999,2019-02-28 20:24:00,2019-03-31 02:51:16.848,monitored,0.01918,0.018584,None,True,0.030809,0.039328,None,False
5,[25000:29999],5,25000,29999,2019-03-31 03:00:00,2019-04-30 09:27:16.848,monitored,0.00824,0.018584,None,False,0.028681,0.039328,None,False
6,[30000:34999],6,30000,34999,2019-04-30 09:36:00,2019-05-30 16:03:16.848,monitored,0.01058,0.018584,None,False,0.043628,0.039328,None,True
7,[35000:39999],7,35000,39999,2019-05-30 16:12:00,2019-06-29 22:39:16.848,monitored,0.01002,0.018584,None,False,0.029253,0.039328,None,False
8,[40000:44999],8,40000,44999,2019-06-29 22:48:00,2019-07-30 05:15:16.848,monitored,0.01068,0.018584,None,False,0.030628,0.039328,None,False
9,[45000:49999],9,45000,49999,2019-07-30 05:24:00,2019-08-29 11:51:16.848,monitored,0.00680,0.018584,None,False,0.028330,0.039328,None,False

In [ ]:
print(results.filter(period='monitored', column_names=['debt_to_income_ratio']).to_df(multilevel=False).to_markdown(tablefmt="grid"))

+----+---------------+---------------+---------------------+-------------------+---------------------+----------------------------+----------------+-------------------------------------------------+-----------------------------------------------------------+-----------------------------------------------------------+-------------------------------------------------+---------------------------------------------+-------------------------------------------------------+-------------------------------------------------------+---------------------------------------------+
|    | chunk_key     |   chunk_index |   chunk_start_index |   chunk_end_index | chunk_start_date    | chunk_end_date             | chunk_period   |   debt_to_income_ratio_kolmogorov_smirnov_value |   debt_to_income_ratio_kolmogorov_smirnov_upper_threshold | debt_to_income_ratio_kolmogorov_smirnov_lower_threshold   | debt_to_income_ratio_kolmogorov_smirnov_alert   |   debt_to_income_ratio_jensen_shannon_value |   debt_to_income_ratio_jensen_shannon_upper_threshold | debt_to_income_ratio_jensen_shannon_lower_threshold   | debt_to_income_ratio_jensen_shannon_alert   |
+====+===============+===============+=====================+===================+=====================+============================+================+=================================================+===========================================================+===========================================================+=================================================+=============================================+=======================================================+=======================================================+=============================================+
|  0 | [0:4999]      |             0 |                   0 |              4999 | 2018-10-30 18:00:00 | 2018-11-30 00:27:16.848000 | monitored      |                                         0.01576 |                                                 0.0185838 |                                                           | False                                           |                                   0.0316611 |                                             0.0393276 |                                                       | False                                       |
+----+---------------+---------------+---------------------+-------------------+---------------------+----------------------------+----------------+-------------------------------------------------+-----------------------------------------------------------+-----------------------------------------------------------+-------------------------------------------------+---------------------------------------------+-------------------------------------------------------+-------------------------------------------------------+---------------------------------------------+
|  1 | [5000:9999]   |             1 |                5000 |              9999 | 2018-11-30 00:36:00 | 2018-12-30 07:03:16.848000 | monitored      |                                         0.01268 |                                                 0.0185838 |                                                           | False                                           |                                   0.0300113 |                                             0.0393276 |                                                       | False                                       |
+----+---------------+---------------+---------------------+-------------------+---------------------+----------------------------+----------------+-------------------------------------------------+-----------------------------------------------------------+-----------------------------------------------------------+-------------------------------------------------+---------------------------------------------+-------------------------------------------------------+-------------------------------------------------------+---------------------------------------------+
|  2 | [10000:14999] |             2 |               10000 |             14999 | 2018-12-30 07:12:00 | 2019-01-29 13:39:16.848000 | monitored      |                                         0.01734 |                                                 0.0185838 |                                                           | False                                           |                                   0.0311286 |                                             0.0393276 |                                                       | False                                       |
+----+---------------+---------------+---------------------+-------------------+---------------------+----------------------------+----------------+-------------------------------------------------+-----------------------------------------------------------+-----------------------------------------------------------+-------------------------------------------------+---------------------------------------------+-------------------------------------------------------+-------------------------------------------------------+---------------------------------------------+
|  3 | [15000:19999] |             3 |               15000 |             19999 | 2019-01-29 13:48:00 | 2019-02-28 20:15:16.848000 | monitored      |                                         0.0128  |                                                 0.0185838 |                                                           | False                                           |                                   0.0294644 |                                             0.0393276 |                                                       | False                                       |
+----+---------------+---------------+---------------------+-------------------+---------------------+----------------------------+----------------+-------------------------------------------------+-----------------------------------------------------------+-----------------------------------------------------------+-------------------------------------------------+---------------------------------------------+-------------------------------------------------------+-------------------------------------------------------+---------------------------------------------+
|  4 | [20000:24999] |             4 |               20000 |             24999 | 2019-02-28 20:24:00 | 2019-03-31 02:51:16.848000 | monitored      |                                         0.01918 |                                                 0.0185838 |                                                           | True                                            |                                   0.0308095 |                                             0.0393276 |                                                       | False                                       |
+----+---------------+---------------+---------------------+-------------------+---------------------+----------------------------+----------------+-------------------------------------------------+-----------------------------------------------------------+-----------------------------------------------------------+-------------------------------------------------+---------------------------------------------+-------------------------------------------------------+-------------------------------------------------------+---------------------------------------------+
|  5 | [25000:29999] |             5 |               25000 |             29999 | 2019-03-31 03:00:00 | 2019-04-30 09:27:16.848000 | monitored      |                                         0.00824 |                                                 0.0185838 |                                                           | False                                           |                                   0.0286811 |                                             0.0393276 |                                                       | False                                       |
+----+---------------+---------------+---------------------+-------------------+---------------------+----------------------------+----------------+-------------------------------------------------+-----------------------------------------------------------+-----------------------------------------------------------+-------------------------------------------------+---------------------------------------------+-------------------------------------------------------+-------------------------------------------------------+---------------------------------------------+
|  6 | [30000:34999] |             6 |               30000 |             34999 | 2019-04-30 09:36:00 | 2019-05-30 16:03:16.848000 | monitored      |                                         0.01058 |                                                 0.0185838 |                                                           | False                                           |                                   0.0436276 |                                             0.0393276 |                                                       | True                                        |
+----+---------------+---------------+---------------------+-------------------+---------------------+----------------------------+----------------+-------------------------------------------------+-----------------------------------------------------------+-----------------------------------------------------------+-------------------------------------------------+---------------------------------------------+-------------------------------------------------------+-------------------------------------------------------+---------------------------------------------+
|  7 | [35000:39999] |             7 |               35000 |             39999 | 2019-05-30 16:12:00 | 2019-06-29 22:39:16.848000 | monitored      |                                         0.01002 |                                                 0.0185838 |                                                           | False                                           |                                   0.0292533 |                                             0.0393276 |                                                       | False                                       |
+----+---------------+---------------+---------------------+-------------------+---------------------+----------------------------+----------------+-------------------------------------------------+-----------------------------------------------------------+-----------------------------------------------------------+-------------------------------------------------+---------------------------------------------+-------------------------------------------------------+-------------------------------------------------------+---------------------------------------------+
|  8 | [40000:44999] |             8 |               40000 |             44999 | 2019-06-29 22:48:00 | 2019-07-30 05:15:16.848000 | monitored      |                                         0.01068 |                                                 0.0185838 |                                                           | False                                           |                                   0.0306276 |                                             0.0393276 |                                                       | False                                       |
+----+---------------+---------------+---------------------+-------------------+---------------------+----------------------------+----------------+-------------------------------------------------+-----------------------------------------------------------+-----------------------------------------------------------+-------------------------------------------------+---------------------------------------------+-------------------------------------------------------+-------------------------------------------------------+---------------------------------------------+
|  9 | [45000:49999] |             9 |               45000 |             49999 | 2019-07-30 05:24:00 | 2019-08-29 11:51:16.848000 | monitored      |                                         0.0068  |                                                 0.0185838 |                                                           | False                                           |                                   0.0283303 |                                             0.0393276 |                                                       | False                                       |
+----+---------------+---------------+---------------------+-------------------+---------------------+----------------------------+----------------+-------------------------------------------------+-----------------------------------------------------------+-----------------------------------------------------------+-------------------------------------------------+---------------------------------------------+-------------------------------------------------------+-------------------------------------------------------+---------------------------------------------+

In [ ]:
display(results.filter(period='reference', column_names=['debt_to_income_ratio']).to_df())

           chunk                                                        \
           chunk
             key chunk_index start_index end_index          start_date
0       [0:4999]           0           0      4999 2018-01-01 00:00:00
1    [5000:9999]           1        5000      9999 2018-01-31 06:36:00
2  [10000:14999]           2       10000     14999 2018-03-02 13:12:00
3  [15000:19999]           3       15000     19999 2018-04-01 19:48:00
4  [20000:24999]           4       20000     24999 2018-05-02 02:24:00
5  [25000:29999]           5       25000     29999 2018-06-01 09:00:00
6  [30000:34999]           6       30000     34999 2018-07-01 15:36:00
7  [35000:39999]           7       35000     39999 2018-07-31 22:12:00
8  [40000:44999]           8       40000     44999 2018-08-31 04:48:00
9  [45000:49999]           9       45000     49999 2018-09-30 11:24:00

                                     debt_to_income_ratio                  \
                                       kolmogorov_smirnov
                 end_date     period                value upper_threshold
0 2018-01-31 06:27:16.848  reference              0.01112        0.018584
1 2018-03-02 13:03:16.848  reference              0.01218        0.018584
2 2018-04-01 19:39:16.848  reference              0.00878        0.018584
3 2018-05-02 02:15:16.848  reference              0.00950        0.018584
4 2018-06-01 08:51:16.848  reference              0.00754        0.018584
5 2018-07-01 15:27:16.848  reference              0.01030        0.018584
6 2018-07-31 22:03:16.848  reference              0.01094        0.018584
7 2018-08-31 04:39:16.848  reference              0.01736        0.018584
8 2018-09-30 11:15:16.848  reference              0.00842        0.018584
9 2018-10-30 17:51:16.848  reference              0.00786        0.018584


                         jensen_shannon
  lower_threshold  alert          value upper_threshold lower_threshold  alert
0            None  False       0.033368        0.039328            None  False
1            None  False       0.028066        0.039328            None  False
2            None  False       0.022597        0.039328            None  False
3            None  False       0.031587        0.039328            None  False
4            None  False       0.031050        0.039328            None  False
5            None  False       0.031648        0.039328            None  False
6            None  False       0.025801        0.039328            None  False
7            None  False       0.032510        0.039328            None  False
8            None  False       0.024897        0.039328            None  False
9            None  False       0.028474        0.039328            None  False

In [ ]:
print_multi_index_markdown(results.filter(period='reference', column_names=['debt_to_income_ratio']).to_df())

+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+---------------------+---------------------+-----------+--------------------+---------------------+---------------------+-----------+
|    | | chunk       |                 |                 |               |                     |                            |            | | debt_to_income_ratio   |                     |                     |           |                    |                     |                     |           |
|    | | chunk       |                 |                 |               |                     |                            |            | | kolmogorov_smirnov     |                     |                     |           | | jensen_shannon   |                     |                     |           |
|    | | key         | | chunk_index   | | start_index   | | end_index   | | start_date        | | end_date                 | | period   | | value                  | | upper_threshold   | | lower_threshold   | | alert   | | value            | | upper_threshold   | | lower_threshold   | | alert   |
+====+===============+=================+=================+===============+=====================+============================+============+==========================+=====================+=====================+===========+====================+=====================+=====================+===========+
| 0  | [0:4999]      | 0               | 0               | 4999          | 2018-01-01 00:00:00 | 2018-01-31 06:27:16.848000 | reference  | 0.01112                  | 0.0185838           |                     | False     | 0.0333679          | 0.0393276           |                     | False     |
+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+---------------------+---------------------+-----------+--------------------+---------------------+---------------------+-----------+
| 1  | [5000:9999]   | 1               | 5000            | 9999          | 2018-01-31 06:36:00 | 2018-03-02 13:03:16.848000 | reference  | 0.01218                  | 0.0185838           |                     | False     | 0.028066           | 0.0393276           |                     | False     |
+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+---------------------+---------------------+-----------+--------------------+---------------------+---------------------+-----------+
| 2  | [10000:14999] | 2               | 10000           | 14999         | 2018-03-02 13:12:00 | 2018-04-01 19:39:16.848000 | reference  | 0.00878                  | 0.0185838           |                     | False     | 0.0225969          | 0.0393276           |                     | False     |
+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+---------------------+---------------------+-----------+--------------------+---------------------+---------------------+-----------+
| 3  | [15000:19999] | 3               | 15000           | 19999         | 2018-04-01 19:48:00 | 2018-05-02 02:15:16.848000 | reference  | 0.0095                   | 0.0185838           |                     | False     | 0.0315869          | 0.0393276           |                     | False     |
+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+---------------------+---------------------+-----------+--------------------+---------------------+---------------------+-----------+
| 4  | [20000:24999] | 4               | 20000           | 24999         | 2018-05-02 02:24:00 | 2018-06-01 08:51:16.848000 | reference  | 0.00754                  | 0.0185838           |                     | False     | 0.0310501          | 0.0393276           |                     | False     |
+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+---------------------+---------------------+-----------+--------------------+---------------------+---------------------+-----------+
| 5  | [25000:29999] | 5               | 25000           | 29999         | 2018-06-01 09:00:00 | 2018-07-01 15:27:16.848000 | reference  | 0.0103                   | 0.0185838           |                     | False     | 0.0316479          | 0.0393276           |                     | False     |
+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+---------------------+---------------------+-----------+--------------------+---------------------+---------------------+-----------+
| 6  | [30000:34999] | 6               | 30000           | 34999         | 2018-07-01 15:36:00 | 2018-07-31 22:03:16.848000 | reference  | 0.01094                  | 0.0185838           |                     | False     | 0.0258014          | 0.0393276           |                     | False     |
+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+---------------------+---------------------+-----------+--------------------+---------------------+---------------------+-----------+
| 7  | [35000:39999] | 7               | 35000           | 39999         | 2018-07-31 22:12:00 | 2018-08-31 04:39:16.848000 | reference  | 0.01736                  | 0.0185838           |                     | False     | 0.0325098          | 0.0393276           |                     | False     |
+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+---------------------+---------------------+-----------+--------------------+---------------------+---------------------+-----------+
| 8  | [40000:44999] | 8               | 40000           | 44999         | 2018-08-31 04:48:00 | 2018-09-30 11:15:16.848000 | reference  | 0.00842                  | 0.0185838           |                     | False     | 0.0248975          | 0.0393276           |                     | False     |
+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+---------------------+---------------------+-----------+--------------------+---------------------+---------------------+-----------+
| 9  | [45000:49999] | 9               | 45000           | 49999         | 2018-09-30 11:24:00 | 2018-10-30 17:51:16.848000 | reference  | 0.00786                  | 0.0185838           |                     | False     | 0.0284742          | 0.0393276           |                     | False     |
+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+---------------------+---------------------+-----------+--------------------+---------------------+---------------------+-----------+

In [ ]:
figure = results.filter(column_names=results.continuous_column_names, methods=['jensen_shannon']).plot(kind='drift')
figure.show()

In [ ]:
figure.write_image(f'../_static/tutorials/detecting_data_drift/univariate_drift_detection/jensen-shannon-continuous.svg')

In [ ]:
figure = results.filter(column_names=results.categorical_column_names, methods=['chi2']).plot(kind='drift')
figure.show()

In [ ]:
figure.write_image(f'../_static/tutorials/detecting_data_drift/univariate_drift_detection/shi-2-categorical.svg')

In [ ]:
figure = results.filter(column_names=results.continuous_column_names, methods=['jensen_shannon']).plot(kind='distribution')
figure.show()

In [ ]:
figure.write_image(f'../_static/tutorials/detecting_data_drift/univariate_drift_detection/joyplot-continuous.svg')

In [ ]:
figure = results.filter(column_names=results.categorical_column_names, methods=['chi2']).plot(kind='distribution')
figure.show()

In [ ]:
figure.write_image(f'../_static/tutorials/detecting_data_drift/univariate_drift_detection/stacked-categorical.svg')