In [ ]:
import nannyml as nml
from IPython.display import display

reference_df = nml.load_synthetic_binary_classification_dataset()[0]
analysis_df = nml.load_synthetic_binary_classification_dataset()[1]
analysis_target_df = nml.load_synthetic_binary_classification_dataset()[2]
analysis_df = analysis_df.merge(analysis_target_df, on='identifier')

display(reference_df.head(3))

,distance_from_office,salary_range,gas_price_per_litre,public_transportation_cost,wfh_prev_workday,workday,tenure,identifier,work_home_actual,timestamp,y_pred_proba,period,y_pred
0,5.962247,40K - 60K €,2.119485,8.568058,False,Friday,0.212653,0,1,2014-05-09 22:27:20,0.99,reference,1
1,0.535872,40K - 60K €,2.357199,5.425382,True,Tuesday,4.927549,1,0,2014-05-09 22:59:32,0.07,reference,0
2,1.969519,40K - 60K €,2.366849,8.247158,False,Monday,0.520817,2,1,2014-05-09 23:48:25,1.00,reference,1

In [ ]:
print(reference_df.head(3).to_markdown(tablefmt="grid"))

+----+------------------------+----------------+-----------------------+------------------------------+--------------------+-----------+----------+--------------+--------------------+---------------------+----------------+-----------+----------+
|    |   distance_from_office | salary_range   |   gas_price_per_litre |   public_transportation_cost | wfh_prev_workday   | workday   |   tenure |   identifier |   work_home_actual | timestamp           |   y_pred_proba | period    |   y_pred |
+====+========================+================+=======================+==============================+====================+===========+==========+==============+====================+=====================+================+===========+==========+
|  0 |               5.96225  | 40K - 60K €    |               2.11948 |                      8.56806 | False              | Friday    | 0.212653 |            0 |                  1 | 2014-05-09 22:27:20 |           0.99 | reference |        1 |
+----+------------------------+----------------+-----------------------+------------------------------+--------------------+-----------+----------+--------------+--------------------+---------------------+----------------+-----------+----------+
|  1 |               0.535872 | 40K - 60K €    |               2.3572  |                      5.42538 | True               | Tuesday   | 4.92755  |            1 |                  0 | 2014-05-09 22:59:32 |           0.07 | reference |        0 |
+----+------------------------+----------------+-----------------------+------------------------------+--------------------+-----------+----------+--------------+--------------------+---------------------+----------------+-----------+----------+
|  2 |               1.96952  | 40K - 60K €    |               2.36685 |                      8.24716 | False              | Monday    | 0.520817 |            2 |                  1 | 2014-05-09 23:48:25 |           1    | reference |        1 |
+----+------------------------+----------------+-----------------------+------------------------------+--------------------+-----------+----------+--------------+--------------------+---------------------+----------------+-----------+----------+

In [ ]:
calc = nml.TargetDistributionCalculator(
    y_true='work_home_actual',
    timestamp_column_name='timestamp',
    problem_type='classification_binary'
)

In [ ]:
calc.fit(reference_df)
results = calc.calculate(analysis_df)
display(results.data.head(3))

,key,chunk_index,start_index,end_index,start_date,end_date,period,targets_missing_rate,metric_target_drift,statistical_target_drift,p_value,thresholds,alert,significant
0,[0:4999],0,0,4999,2017-08-31 04:20:00,2018-01-02 00:45:44,None,0.0,0.5172,5.574578,0.018223,0.05,True,True
1,[5000:9999],1,5000,9999,2018-01-02 01:13:11,2018-05-01 13:10:10,None,0.0,0.4916,1.126131,0.288602,0.05,False,False
2,[10000:14999],2,10000,14999,2018-05-01 14:25:25,2018-09-01 15:40:40,None,0.0,0.4858,3.397654,0.065289,0.05,False,False

In [ ]:
print(results.data.head(3).to_markdown(tablefmt="grid"))

+----+---------------+---------------+---------------+-------------+---------------------+---------------------+----------+------------------------+-----------------------+----------------------------+-----------+--------------+---------+---------------+
|    | key           |   chunk_index |   start_index |   end_index | start_date          | end_date            | period   |   targets_missing_rate |   metric_target_drift |   statistical_target_drift |   p_value |   thresholds | alert   | significant   |
+====+===============+===============+===============+=============+=====================+=====================+==========+========================+=======================+============================+===========+==============+=========+===============+
|  0 | [0:4999]      |             0 |             0 |        4999 | 2017-08-31 04:20:00 | 2018-01-02 00:45:44 |          |                      0 |                0.5172 |                    5.57458 | 0.0182231 |         0.05 | True    | True          |
+----+---------------+---------------+---------------+-------------+---------------------+---------------------+----------+------------------------+-----------------------+----------------------------+-----------+--------------+---------+---------------+
|  1 | [5000:9999]   |             1 |          5000 |        9999 | 2018-01-02 01:13:11 | 2018-05-01 13:10:10 |          |                      0 |                0.4916 |                    1.12613 | 0.288602  |         0.05 | False   | False         |
+----+---------------+---------------+---------------+-------------+---------------------+---------------------+----------+------------------------+-----------------------+----------------------------+-----------+--------------+---------+---------------+
|  2 | [10000:14999] |             2 |         10000 |       14999 | 2018-05-01 14:25:25 | 2018-09-01 15:40:40 |          |                      0 |                0.4858 |                    3.39765 | 0.0652892 |         0.05 | False   | False         |
+----+---------------+---------------+---------------+-------------+---------------------+---------------------+----------+------------------------+-----------------------+----------------------------+-----------+--------------+---------+---------------+

In [ ]:
target_drift_fig = results.plot(kind='target_drift', plot_reference=True)
target_drift_fig.show()

In [ ]:
target_drift_fig.write_image('../_static/target_distribution_metric.svg')

In [ ]:
target_distribution_fig = results.plot(kind='target_distribution', plot_reference=True)
target_distribution_fig.show()

In [ ]:
target_distribution_fig.write_image('../_static/target_distribution_statistical.svg')